# Environnements virtuels
.venv/
env/
venv/

# Fichiers de cache et de compilation Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# Fichiers de données brutes (trop volumineux pour Git)
*.npy
data/

# Secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Note: models/weights/*.pth est géré via Git LFS (voir .gitattributes)